body {
  font-family: Ariel, sans-sarif;
  padding: 10px;
  width: 250px;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid light gray;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 6px;
  background-color: blue;
  color: black;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: dark blue;
}

#result {
  margin-top: 10px;
}

#strength {
  font-wight: bold;
}
