body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 250px;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid light gray;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 6px;
  margin-top: 6px;
  background-color: rgb(73, 73, 211);
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover:not(:active) {
  background-color: lightblue;
}

#result {
  margin-top: 10px;
}

#strength {
  font-weight: bold;
}

#historyList {
  list-style-type: none;
  margin-bottom: 10px;
}

#historyList li {
  background: #f0f0f8;
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 14px;
}

.entropyContainer {
  width: 100%;
  height: 12px;
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 6px;
  margin-top: 6px;
  overflow: hidden;
}

#entropyBar {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, red, orange, yellow, green);
  border-radius: 6px;
  transition: width 0.3s ease;
}
